.invisible{
  display: none;
}

.question::before {
  content: "Q: ";
  font-size: 18px;
  color: #990000;
}

.question{
  font-style: italic;
  font-size: 18px;
  color: #990000;
}

.answer::before {
  content: "A: ";
}
