.invisible {
  display: none;
}

.question::before {
  content: "Q: ";
  font-size: 18px;
  color: #CFBB61;
}

.question {
  font-style: italic;
  font-size: 18px;
  color: #CFBB61;
  margin: 25px 0 0 0;
}

.answer {
  margin: 0 0 25px 0;
}

.answer::before {
  content: "A: ";
  color: #CFBB61;
}

.faq-section {
  border-radius: 15px;
  padding: 10px;
  background: #262728AB;
}

.interaction {
  border-radius: 15px;
  padding: 10px;
  background: #262728AB;
  margin-bottom: 15px;
}

.interaction p {
  margin: 0;
}

.logo {
  width: 100%;
  height: auto;
}
