.invisible{
  display: none;
}

.question::before {
  content: "Q: ";
  font-size: 18px;
  color: #CFBB61;
}

.question{
  font-style: italic;
  font-size: 18px;
  color: #CFBB61;
}

.answer::before {
  content: "A: ";
}

.faq-section{
  border-radius: 15px;
  padding: 10px;
  background: #77777777;
}

.logo{
  width: 100%;
  height: auto;
}
